body {
  text-align: center;
  margin: 0%;
  height: 100vh;
  background-color: #501a8d;
  font-family: "Fredoka One", cursive;
}

#numMax,
#numMin {
  width: 70px;
  font-size: 25pt;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 3px 0px #000000;
  margin: 20px;
  background-color: #ffffff;
  color: rgba(3, 3, 3, 0.801);
}

#titulo {
  color: rgb(14, 14, 14);
  text-shadow: -1px -1px 0px rgb(255, 255, 255),
    -1px -1px 0px rgb(255, 255, 255), 1px -1px 0px rgba(255, 255, 255, 0.76),
    1px 1px 3px rgb(240, 240, 240);
  font-size: 50pt;
}

#formulario {
  background-color: #11bdb4;
  margin: auto;
  height: auto;
  width: fit-content;
  padding: 50px;
  border: solid rgba(0, 0, 0, 0.822);
  border-radius: 20px;
  box-shadow: 10px 6px 10px 0px #302f2f15;
}

#numMax-label {
  font-size: 40pt;
  font-weight: bold;
  text-shadow: -1px -1px 0px rgb(255, 255, 255),
    -1px -1px 0px rgb(255, 255, 255), 1px -1px 0px rgba(255, 255, 255, 0.76),
    1px 1px 3px rgb(240, 240, 240);
}

#eLabel {
  font-size: 25pt;
  text-shadow: -1px -1px 0px rgb(255, 255, 255),
    -1px -1px 0px rgb(255, 255, 255), 1px -1px 0px rgba(255, 255, 255, 0.76),
    1px 1px 3px rgb(240, 240, 240);
  margin: 0%;
}

#sortear,
#refresh{
  background-color: #ffffff;
  width: 70%;
  height: min-content;
  font-size: 25pt;
  font-weight: bold;
  padding: 5px;
  border: solid 2px black;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

#refresh {
  display: none;
  width: auto;
  padding: 10px;
}

#sortear:hover,
#refresh:hover {
  background-color: rgba(169, 169, 169, 0.493);
  color: rgb(255, 255, 255);
}
